@font-face{
    font-family: "spartan";
    src: url("../fonts/LeagueSpartan-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "spartan";
}
img, input{
    vertical-align: bottom;
    width: 100%;
}
body{
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
/* Header */
/* Menu burger */
#menu{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}
#menu #openmenu:checked~ul{
    display: flex;
}
#menu #openmenu:checked~label>img{
    content: url("../images/icon-close.svg");
}
#openmenu {
    display: none;
}
#burger{
    z-index: 10;
    padding: 2rem 1rem;

}
#menu ul{
    display: none;
    background-color: white;
    width: 100%;
    padding: 2rem 1rem;
    position: absolute;
    li{
        padding-left: 5rem;
        font-size: 18px;
        font-weight: bold;
    }
}
#logo{
    margin: 0 auto;
    padding: 2rem 0rem;
    transform:translate(-50%);
}
/* image */
#bgimg{
    width: 100%;
    height: 58vh;
    background-image: url(../images/desktop-image-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width:100% ;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
/* slider */
#slider{
    position: absolute;
    display: flex;
    top: 48.3%;
    right: 0;
}
#sliderarrow{
    background-color: black;
    padding: 2rem;
}
#sliderarrow:hover{
    filter: brightness(60%);
}
/* slidertxt */
#slidertxt{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
h1{
    padding: 4rem 0 1rem 0;
    font-size: 50px;
    font-weight: 700;

}
#slidertxt p{
    line-height: 1.5rem;
    width: 100%;
    color:hsl(0, 0%, 63%) ;
}
#slidertxt a{
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none;
    padding: 2rem 0;
    font-weight: bold;
}
#arrowlink{
    display: flex;
}
#arrowlink div{
    align-self: center;
    padding-left: 1rem;
    margin-bottom: 8px;
}
/* img 2*/
#bgimg2{
    width: 100%;
    height: 38vh ;
    margin-top: 2rem;
    background-image: url(../images/image-about-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* about */
#about{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    padding: 2rem;
}
#about h2{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 0;
}
#about p{
    line-height: 1.5rem;
    width: 100%;
    color:hsl(0, 0%, 63%) ;
}
/* img3 */
#bgimg3{
    width: 100%;
    height: 38vh ;
    margin-top: 2rem;
    background-image: url(../images/image-about-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (min-width:576px) { 
    /* menu */
    #menu{
        width: 60%;
    }
    #menu ul{
        display: flex;
        background-color: unset;
        color: white;
        margin-left: 6rem;
        li{
            padding-left: 2rem;
            font-size: 15px;
            font-weight: bold;
        }
    }
    #burger{
        display: none;
    }
    #logo{
        transform: none;
        margin: unset;
        padding-left: 3rem;
    }
    /* container */
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: unset;
        outline: solid;
        height: 100vh;
    }
    /* 1st line */
    #bgimg{
        width: 60%;
        height: 62vh;
    }
    #desc{
        width: 40%; 
        padding: 0 4rem;
    }
    /* 2nd line */
    #bgimg2{
        width: 29.5%;
        margin-top: unset;
    }
    #about{
        width: 41%;
    }
    #bgimg3{
        width: 29.5%;
        margin-top: unset;
    }
    #slider{
        top: 54.15%;
        right: 29.5%;
    }
    #sliderarrow{
    padding: 1.5rem 2.3rem;
    }
    #slidertxt a{
        padding: 1rem 0;
    }
}

@media screen and (max-width:1040px) {
    #desc{
        padding: 0 2rem;
    }
    #about{
        padding: 1rem 2rem;
    }
}